<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	<title>Snackr</title>
	
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<style>
	
	body { padding-top: 63px; }
	
	.large-spinner { 	
		font-size: 80px;
		height: 80px;
		width: 80px;
		
		z-index: 2;
	}
	
	/* only works if your element has a fixed height */
	.page-center {
	
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;

		margin: auto;		
	}
	
	button.addToCart {
		float: right;
		margin-right: 5px;
		margin-top: 8px;
	}
	
	</style>
	
</head>

<body>

<script>
var app = angular.module("Snackr", []);
	
app.controller("myCtrl", function($scope, $http) {   
			
	$scope.baseUrl = 	"https://snackr-webapi-servicegateway-ordering-dev.azurewebsites.net";				// dev
	//$scope.baseUrl = 	"https://snackr-webapi-servicegateway-ordering-intergration.azurewebsites.net";	// integration
	//$scope.baseUrl = 	"https://snackr-webapi-servicegateway-ordering.azurewebsites.net";				// release
	
	$scope.cartItems = [];
	
	// get current user
	$scope.showSpinner = true;
	$http.get($scope.baseUrl + "/api/Auth/GetCurrentUser")
    .then(
		function(response) {
		
			if( !response.data.isAuthenticated ) {
				document.location = response.data.signInUrl;
			} else {
		
				$scope.user = response.data.user;
			
				$scope.showSpinner = false;
				
				$scope.getUpcomingEvents();
			}
		},
		function(response) {
	
			console.log(response);
	
			$scope.showSpinner = false;
			$scope.error = "Getting current user " + response.statusText;
		}
	);
		
	$scope.getUpcomingEvents = function() {
	
		$scope.showSpinner = true;
		$http.get($scope.baseUrl + "/api/Events/upcoming")
		.then(
			function(response) {
				$scope.showSpinner = false;
				
				$scope.selectedEvent = response.data[0];	// default to first value
				$scope.upcomingEvents = response.data;
				
				$scope.currentView = "UpcomingEvents";				
			},
			function(response) {
		
				$scope.showSpinner = false;
				$scope.error = "Error getting upcoming events " + response.statusText;
			}
		);
	};
	
    $scope.register = function () {
			
		$scope.error = "";
			
		if( !$scope.selectedEvent ) {
			$scope.error = "Select a venue";
			return;
		}
		
		if( !$scope.seatKey ) {
			$scope.error = "Please enter a seat key";
			return;
		}
	
		var myData = {
			eventId: $scope.selectedEvent.id,
			seatKey: $scope.seatKey
		};
	
		$scope.showSpinner = true;
	
		$http({
			url: $scope.baseUrl + "/api/CustomerEventAttendanceProfiles",
			method: "POST",
			data: JSON.stringify(myData)
		})
		.then(function(response) {

			$scope.showSpinner = false;
		
			$scope.customerEventAttendanceProfile = response.data;

			$scope.ShowVendors();
		}, 
		function(response) {
			$scope.showSpinner = false;
			$scope.error = "Error registering valid seat" + response.statusText;
            console.log(response);
		});
    };
	
	$scope.ShowVendors = function() {

		$http.get($scope.baseUrl + "/api/Events/" + $scope.customerEventAttendanceProfile.event.id + "/vendor-event-profiles")
		.then(function(response) {
			$scope.vendorEventProfiles = response.data;
			$scope.currentView = "Vendors";				
		}, 
		function(response) {
		
			$scope.showSpinner = false;
		
			$scope.error = "Error getting vendors: " + response.statusText;
			console.log(response);
		});
	};
	
	$scope.SelectVendor = function( vendorId ) {
				
		// fetch the menu
		$scope.showSpinner = true;
		
		$http.get($scope.baseUrl + "/api/VendorEventProfiles/" + vendorId )
			.then(function(response) {

				$scope.showSpinner = false;
			
				$scope.vendorEventProfile = response.data;
				console.log($scope.vendorEventProfile);
				
				$scope.currentView = "Menu";
			}, 
			function(response) {
				
				$scope.showSpinner = false;
			
				$scope.error = "Error getting vendor event profile";
				console.log(response);
			});
	};
	
	$scope.SelectMenuItem = function( menuItem ) {
	
		$scope.currentView = "MenuItem";
	
		$scope.menuItem = menuItem;
		console.log(menuItem);
		
		$scope.itemCount = 1;
	};
	
	$scope.DecrementItemCount = function() {
		$scope.itemCount--;
		if( $scope.itemCount < 0 ) $scope.itemCount = 0;
	};
	
	$scope.IncrementItemCount = function() {
		$scope.itemCount++;
	};
	
	$scope.AddToCart = function() {
		if( !$scope.menuItem.isAvailable ) {
			alert("Item is not available");
			return;
		}
		
		if( $scope.itemCount < 1 ) {
			alert("Enter a quantity greater than zero");
			return;
		}
		
		// add to cart		
		$scope.cartItems.push({
			item: $scope.menuItem,
			quantity: $scope.itemCount
		});
	};
	
	$scope.ViewCart = function() {
	
		$scope.currentView = "Cart";
		
		// total
		$scope.cartTotal = 0;
		for( var i=0; i<$scope.cartItems.length; i++ ) {
			$scope.cartTotal += $scope.cartItems[i].quantity * $scope.cartItems[i].item.price;
		}
	};
	
	$scope.DeleteItem = function(i) {
		$scope.cartItems.splice(i,1);
		
		$scope.ViewCart();	// recalculate total
	};
	
	$scope.Checkout = function() {
		
		// call the server
		$scope.showSpinner = true;
	
		var orderRequestLines = [];
		for( var i=0; i<$scope.cartItems.length; i++ ) {
		
			var cartItem = $scope.cartItems[i];
		
			orderRequestLines[i] = {
				"item_Id" : cartItem.item.id,
				"item_Name" : cartItem.item.name,
				"qty" : cartItem.quantity,
				"instructions" : "",
				"total" : cartItem.quantity * cartItem.item.price
			};
		}
	
		var myData = {
		  "eventVendorVenueId": $scope.vendorEventProfile.id,
		  "collectionMethod": "ToSeatDelivery",
		  "deliveryLocationId": 0,
		  "orderRequestLines": orderRequestLines
		  //,
		  //"promoCodes": [
			//"string"
		  //]
		};
			
		$http({
			url: $scope.baseUrl + "/api/OrderRequests",
			method: "POST",
			data: JSON.stringify(myData)
		})
		.then(function(response) {

			$scope.showSpinner = false;
		
			console.log(response.data);		
					
			// show that we have an order now
			$scope.OrderID = "123";
			$scope.OrderStatus = "Pending";		
		}, 
		function(response) {
			$scope.error = "Error submitting order: " + response.statusText;
			$scope.showSpinner = false;
            console.log(response);
		});
	};
})
/*.directive('todoControl', function() {
	return {
		restrict: "E",
		templateUrl: 'todo-control.html?v=4'
	};
});
*/
</script>

<div id="myCtrl" ng-app="Snackr" ng-cloak ng-controller="myCtrl" class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<a class="navbar-brand" href="#">Snackr</a>

			<button type="button" class="btn btn-primary addToCart" ng-click="ViewCart()" ng-show="cartItems.length > 0">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">({{cartItems.length}})</span>
			</button>
			
			<p class="navbar-text navbar-right">{{user.displayName}}</p>
		</div>
		
		

	  </div><!-- /.container-fluid -->
	</nav>
	
	<i ng-show="showSpinner" class="fa fa-spinner fa-spin large-spinner page-center"></i>
	
	<div ng-show="error" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error:</strong> {{error}}
	</div>
	
	<div class="alert alert-warning" style="text-align: center" role="alert" ng-show="OrderID">
		Order ID: {{OrderID}}<br/>
		{{OrderStatus}}
	</div
	
	<!-- upcoming events -->	
	<div ng-show="currentView == 'UpcomingEvents'">
		<div>Choose Upcoming Event</div>	
		<select class="form-control" ng-model="selectedEvent" ng-options="x.name for x in upcomingEvents"></select>
		<div>Where are you sitting today?</div>
		<div><input type="text" ng-model="seatKey" class="form-control"></div>
		
		<div>
			<button type="button" class="btn btn-primary" ng-click="register()">Save</button>
		</div>	
	</div>
	
	<!-- vendors -->
	<div ng-show="currentView == 'Vendors'">
		<div>
			<button type="button" class="btn btn-default btn-sm" ng-click="currentView = 'UpcomingEvents'">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</button>&nbsp;
		
			{{customerEventAttendanceProfile.event.venue.name}}: {{customerEventAttendanceProfile.event.name}} - Seat: {{customerEventAttendanceProfile.seatKey}}
		</div>
		
		<div class="list-group">
			<a ng-click="SelectVendor(x.vendor.id)" class="list-group-item" ng-repeat="x in vendorEventProfiles">
				<h4 class="list-group-item-heading">{{x.vendor.name}}</h4>
				<p class="list-group-item-text"></p>
			</a>
		</div>
		
	</div>
	
	<!-- vendor menu -->
	<div ng-show="currentView == 'Menu'">
		
		<h3>
			<button type="button" class="btn btn-default btn-sm" ng-click="currentView = 'Vendors'">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</button>&nbsp;
			{{vendorEventProfile.vendor.name}}
		</h3>
		
		<div ng-repeat="x in vendorEventProfile.menu.menuItemGroups">
			<h4 class="list-group-item-heading">{{x.name}}</h4>
			<h5>{{x.description}}</h5>
			
			<div class="list-group">
				<a ng-click="SelectMenuItem(y)" class="list-group-item" ng-repeat="y in x.menuItems | filter: {isAvailable: 'true'}">
					<h4 class="list-group-item-heading">{{y.name}}</h4>
					<p class="list-group-item-text">{{y.description}} ${{y.price}}
						<button type="button" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
						</button>
					</p>
				</a>
			</div>
		</div>
	</div>
	
	<!-- menu item screen, should be a popup so we don't lose scroll position -->
	<div ng-show="currentView == 'MenuItem'">
		<h3>
			<button type="button" class="btn btn-default btn-sm" ng-click="currentView = 'Menu'">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</button>&nbsp;
			{{menuItem.name}}
		</h3>		
		
		<div style="text-align: center">
		
			<div>{{menuItem.description}}</div>
			<div>${{menuItem.price}}</div>
		
			<button type="button" ng-click="DecrementItemCount()" class="btn btn-default btn-md"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
			<input type="text" ng-model="itemCount" min="0" class="" size="2">
			<button type="button" ng-click="IncrementItemCount()" class="btn btn-default btn-md"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			
			<br/>
			<button type="button" class="btn btn-primary btn-lg" ng-click="AddToCart()"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
			
		</div>		
		
	</div>
	
	<!-- cart -->
	<div ng-show="currentView == 'Cart'">
		<h3>
			<button type="button" class="btn btn-default btn-sm" ng-click="currentView = 'Menu'">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</button>&nbsp;
			Your Order
		</h3>
		<table class="table table-striped Cart table-bordered">
			<thead>
				<tr>
					<th>Qty</th>
					<th>Item</th>
					<th style="text-align: right">Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in cartItems">
					<td>{{x.quantity}} X </td>
					<td>{{x.item.name}}</td>
					<td style="text-align: right">${{(x.item.price * x.quantity).toFixed(2)}}</td>
					<td><button type="button" class="btn btn-danger btn-sm" ng-click="DeleteItem($index)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
				</tr>
				<tr>
					<th colspan="2" style="text-align: right">Total</th>
					<th style="text-align: right">${{cartTotal.toFixed(2)}}</th>
					<td></td>
				</tr>
			</tbody>
		</table>
		
		<div style="text-align: center" ng-hide="OrderID">
			<button type="button" class="btn btn-danger btn-lg" ng-click="Checkout()">Checkout</button>
		</div>
		
		<div style="text-align: center" ng-show="OrderID">
			Order has been submitted
		</div>
		
	</div>
	
</div>

</body>
</html>